body{
  background-color: #ffa8df;
  border: 40px solid transparent;
  border-color: : #ccff4c 30 round;
  display: block;
  position: float;


/*  background: #ffe194 ;*/

}
#goodvisual{
  border-style: solid;
  border-color: black;
  float:left;
  width: 600px;
}
#badvisual{
  border-style: solid;
  border-color: black;
  float:right;
  width: 600px;
}
#paragraph{
  border-style: solid;
  border-color: black;
  margin-top: 400px;
  float:none;
  clear:both;
  width: 900px;
}
#gv{
  width: 500px;
  height: 500px;
}
#bv{
  width: 500px;
  height: 500px;
}
