body{
  background-color: #ffa8df;
  border: 40px solid transparent;
  border-color: : #ccff4c 30 round;
/*  background: #ffe194 ;*/


}
#goodvisual{
  border-style: solid;
  border-color: black;
  background-image: url("b_v.jpg");
  width: 1200px;
}
#badvisual{
  border-style: solid;
  border-color: black;
  background-image: url("b_v.jpg");
  width: 1200px;
}
#paragraph{
  border-style: solid;
  border-color: black;
  width: 1200px;
}
